@use '../scss/variables' as *;
@use '../scss/mixins';

.basket {
  @include mixins.flex(column);
  gap: 2rem;
  height: 100%;

  &__list {
    flex-grow: 1;
    margin: 0;
    padding: 0;
  }

  &__item {
    border-bottom: 1px solid $primary;
    padding: 1.5rem 0;

    &-index {
      @include mixins.flex(row);
      justify-content: center;
      align-items: center;
      width: 55px;
      height: 55px;
      margin-right: 1rem;
      border-radius: 50%;
      color: white;
      font-size: 1.5rem;
      background-color: $primary;
    }

    &-delete {
      @include mixins.icon(2rem, 'trash');
      @include mixins.link($hover, white);
      margin-left: 4rem;
      opacity: 0.5;
    }
  }
}
