@use '../scss/variables' as *;
@use '../scss/mixins';

.header {
  height: $headerHeight;
  background-color: $primary;

  &__container {
    @include mixins.container(45px, 45px);
    @include mixins.flex(row);
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    height: $headerElementsSize;
  }

  &__logo {
    &-image {
      display: block;
      height: 100%;
    }
  }

  &__basket {
    @include mixins.link($primary, $hover);
    position: relative;
    width: 58px;
    height: 58px;
    border: none;
    background-image: url(../images/shopping_cart.svg);
    cursor: pointer;

    &-counter {
      position: absolute;
      top: 0;
      right: -0.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 100%;
      color: $background;
      font-weight: 600;
      font-size: 0.5rem;
      background-color: $category1;
    }
  }
}
