@use '../scss/variables' as *;
@use '../scss/mixins';

.modal {
  @include mixins.sublayer;
  position: absolute;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
  height: max-content;
  min-height: 90vmin;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: $overlayBackground;

  &_active {
    display: flex;
  }

  &__container {
    @include mixins.container;
    @include mixins.flex(column);
    position: relative;
    gap: $defaultPadding;
    box-sizing: border-box;
    height: max-content;
    border-radius: 3rem;
    background-color: $background;
  }

  &__content {
    flex-grow: 1;
  }

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 1.5rem;
  }

  &__actions {
    @include mixins.flex(row);
    align-items: center;
    gap: 2rem;
  }

  &__close {
    @include mixins.icon(2rem, 'close');
    @include mixins.link(white, $hover);
    position: absolute;
    top: calc(#{$defaultPadding} / 2);
    right: calc(#{$defaultPadding} / 2);
  }

  &__footer {
    @include mixins.flex(row);
    align-items: center;
    gap: 2rem;
  }

  &__message {
    max-width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &_error {
      color: $error;
    }
  }
}
